*.header h1 {
    font-size: 30px;
  }
.header {
    padding: 20px;
    text-align: center;
    background-color: rgba(228, 216, 177, 0.959);
    color:mediumblue;
  }
  /* styles on the second heading on the home page */ 
  h2 {
    color: mediumblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    }
    /* Styles on the third heading on the home page */ 
  h3 {
    color: rgb(13, 17, 221);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }  
  /* Styles on the fourth heading on the home page */ 
  h4 {
    color: rgb(205, 82, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }
  h5 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }
  /* Styles on the sixth heading on the projects */ 
  h6 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    }
/* The styles on the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 199, 199);
    margin: 70;
  }
/* The top navigation bar */ 
.navbar {
    overflow: hidden;
    background-color: rgb(133, 129, 124);
    border: 4px lightblue;
    border-left: 4px solid lightblue;
    border-right: 4px solid lightblue;
    border-top: 6px solid lightblue;
    border-bottom: 8px solid lightblue;
    padding: 8px 30px;
  }
/* The navigation bar links */
.navbar a {
    border: 2px rgb(255, 17, 0);
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 30px;
    text-decoration: rgb(33, 5, 189);
  }
/* Right-aligned link */
.navbar a.right {
    float: center;
  }
/* Change color on hover */
.navbar a:hover {
    color: black;
  }
}
/* Styles on image */
img {
    height: 10%;
    width: 50%;
  }
 /* Styles on footer */
.footer {
  text-align: center;
  font: small;
  color: rgb(28, 171, 228);
}
p {
  color: black);
  font-family: 'Times New Roman', Times, serif;
}
/* styles span*/
.important {
  color:blue;
}
/* styles span*/
.tech {
  color:blue;
}
/* styles span*/
.color {
  color: darkorange;
}

  