*.header h1 {
    font-size: 30px;
  }
.header {
    padding: 50px;
    text-align: center;
    background-color: rgb(146, 110, 110);
    color: rgb(10, 1, 1);
  }
.header2 {
    background-color: cadetblue;
    color: black;
    text-align: center;
    padding: 20px;
  }
.header3 {
    background-color: blueviolet;
    color: black;
    text-align: center;
    padding: 20px;
  }
.header4 {
    background-color: rgba(41, 29, 27, 0.795);
    color: black;
    text-align: center;
    padding: 20px;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
.navbar {
    overflow: hidden;
    background-color: rgb(133, 129, 124);
  }
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: brown;
  }
  .navbar a.right {
    float: center;
  }
.navbar a:hover {
    background-color: rgb(163, 159, 159);
    color: black;
  }
.row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
.side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
.peace {
    float: right;
  }

  